<!--any?メソッド　要素が１つでもある場合はtrueを返す-->
<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <!--pluralizeは最初の引数に整数が与えられるとそれに基づいて2番目の引数の単語-->
      <!--を複数形に変更したものを返す。-->
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>